<section class="p-5 rounded-lg m-3 text-center">
  <h1 class="title">2048</h1>
</section>

<section class="row justify-content-center">
  <section class="col text-center">
    <%= form_for @conn, Routes.game_path(@conn, :create), fn _ -> %>
      <%= submit("Start a new Game", class: "btn btn-primary") %>
    <% end %>
   
  </section>
</section>
