/* This file is for your main application css. */

$body-bg: #faf8ef;
$body-color: #776e65;
$primary: #bbada0;

$font-family-base: "Clear Sans";
@import "./fonts/clear-sans.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.alert:empty {
  display: none;
}

h1.title {
  font-size: 6rem;
  font-weight: bold;
}

.big-button {
  padding: 0.75rem;
  color: $white;
}
